.scrollable {
  height: 100vh; 
  overflow-y: scroll !important;   
}

.scrollable2 {
  height: 85vh; 
  overflow-y: scroll;
}

#scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroller::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

#scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $color-grey-light;
}

#scroller2::-webkit-scrollbar-track
{
  border: .75px solid $color-blue-dark;  
  border-radius: 10px;    
	background-color: $color-white; 
}
  
#scroller2::-webkit-scrollbar
{
	width: 8px;
	background-color: $color-white;  
}

#scroller2::-webkit-scrollbar-thumb
{
  background-color: $color-blue-dark;	  
  border-radius: 10px;          
}          