//? Alignments
.center-text {
  text-align: center;
}

//? Margins

.land-margin {
  margin-top: 1.5%;

  @include respond(mic-l) {
    margin-top: 2.5%;
  }

  @include respond(nex-7) {
    margin-top: 5.5%;
  }
}

.header-margin {
  margin-top: 0.8%;

  @include respond(nex-4) {
    margin-top: 2%;
  }
}

.instruct-margin {
  @include respond(mic-l) {
    margin-top: 4%;
  }
}

.auto-margin {
  margin-left: auto;
}

.tab-margin {
  margin-left: 12px;
}

.review-margin {
  margin-top: 1%;

  @include respond(nex-7) {
    margin-top: 3%;
  }
}

.review-margin2 {
  margin-top: 2%;

  @include respond(nex-7) {
    margin-top: 4%;
  }
}

.review-margin3 {
  margin-top: 6%;

  @include respond(nex-7) {
    margin-top: 8%;
  }
}

.test-header-margin {
  margin-bottom: 1%;  
  
  @include respond(nex-7) {
    margin-bottom: 3%;    
  }
}

.test-title-margin {
  margin-bottom: 2%;

  @include respond(nex-7) {
    margin-bottom: 4%;       
  }
}

.congrats-margin {
  margin-top: 5%;
}

.congrats-margin2 {
  margin: 6% 0 8% 0;
}

//? Font Weights

.bold {
  font-size: 1.5rem;
  font-weight: 600;

  @include respond(tab-land) {
    font-size: $font-medium2;
  }

  @include respond(nex-7) {
    font-size: 3rem;
  } 
}

.bold2 {
  font-size: 1.4rem;
  font-weight: 600;

  @include respond(tab-land) {
    font-size: $font-medium2;
  }

  @include respond(nex-7) {
    font-size: 3rem;
  }
}

//? Background colors
.purple-bg {
  background-color: $color-purple;
}

//? widths
.tab-width {
  width: 80%;
}
