// COLORS
$color-blue: #47B8E0;
$color-blue2: #36b2dd;
$color-blue-dark: #1F91B9;
$color-purple: #34314C;
$color-red-damark: #D46948;
$color-cream: #FCFCF5;
$color-gold: #FFC952;
$color-green: #27AE60;
$color-red: #EB5757;
$color-grey-light: #E0E0E0; 
$color-grey: #828282; 
$color-grey2: #4F4F4F; 
$color-grey-dark: #333; 
$color-white: #fff;
$color-black: #000;

// SIZE
$pic-size: 8.8rem;
$pic-size-big: 19.8rem;  
$pic-size-bigger: 25.8rem;       

$copyright-size:  1.6rem;
$copyright-size-big:  2.6rem;

$icon-size: 1.2rem;

// PADDING
$button-padding: 1rem 3.5rem;

// FONT SIZE
$font-small: 1.4rem;